h1 {
  color: aqua;
}

#move1 {
  width: 80px;
  height: 100px;
  background-color: rgb(41, 217, 223);
  animation: 10s linear move1;
}

@keyframes move1 {
  0%{width: 100px; background-color:pink;}
  25%{width: 300px; background-color: fuchsia}
  50%{width: 600px; background-color: rgb(240, 130, 66);}
  75%{width: 900px; background-color: rgb(255, 0, 106);}
  100%{width: 1400px; background-color: rgb(192, 60, 100);}
 } 