#fav-dest {
  color: coral;
}

.dest {
  color: gray;
}

ol {
  color: crimson;
}

ul {
  color: plum;
}

h3 {
  color: aquamarine;
  font-size: 35px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

legend {
  color: rgb(238, 117, 137);
}

.read_more {
  color:  rgb(90, 241, 191);
}

a {
  color:  rgb(90, 241, 191);
}

h4 {
  color: rgb(238, 117, 137);
}

#main1 {
  display: inline-flex;
  padding-left: 150px;
}

#box1 {
  width: 300;
  height: 300;
  background-color: hotpink;
  margin: 15px;
}

#box2 {
  width: 300;
  height: 300;
  background-color: turquoise;
  margin: 15px;
}

#box3 {
  width: 300;
  height: 300;
  background-color: powderblue;
  margin: 15px;
}

#box4 {
  width: 300;
  height: 300;
  background-color: hotpink;
  margin: 15px;
}

#box5 {
  width: 300;
  height: 300;
  background-color: turquoise;
  margin: 15px;
}

#box6 {
  width: 300;
  height: 300;
  background-color: powderblue;
  margin: 15px;
}

#box7 {
  width: 300;
  height: 300;
  background-color: hotpink;
  margin: 15px;
}

#box8 {
  width: 300;
  height: 300;
  background-color: turquoise;
  margin: 15px;
}

#box9 {
  width: 300;
  height: 300;
  background-color: powderblue;
  margin: 15px;
}
